a {
  	font-family: 'Gotham', sans-serif;
  	text-decoration: none;
  	line-height: inherit; 
  	color: #60b0b4;
}

a:hover {
   text-decoration: underline; 
}

a img {
   border: none; 
}

/* Default paragraph styles */
p {
  	font-family: 'Gotham', sans-serif;
  	font-weight: normal;
  	font-size: 14px;
  	line-height: 1.6;
  	margin-bottom: 14px;
  	text-align: left;
  	text-rendering: optimizeLegibility;
  	color: #999999;
}
.contato p {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 30px;
      text-align: right;
    }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  	font-family: 'Gotham', sans-serif;
  	text-rendering: optimizeLegibility;
  	font-style: normal;
  	margin: 0 0 14px 0;
  	line-height: 1.4;
}

hr {
  	border: solid #8f8f95;
  	border-width: 2px 0 0;
  	clear: both;
  	margin: 30px 0;
  	height: 0; 
}

/* Helpful Typography Defaults */
em,
i {
  	font-style: italic;
  	line-height: inherit;
}

strong,
b {
  	font-weight: bold;
  	line-height: inherit; 
}

small {
  	font-size: 60%;
  	line-height: inherit; 
}

code {
  	font-family: Consolas, "Liberation Mono", Courier, monospace;
  	font-weight: normal;
  	color: #333333;
  	background-color: #f8f8f8;
  	border-width: 1px;
  	border-style: solid;
  	border-color: #e0e0e0;
  	padding: 0.125rem 0.3125rem 0.0625rem;
}

/* Lists */
ul,
ol,
dl {
  	font-family: 'Gotham', sans-serif;
  	list-style-position: outside;
  	margin-bottom: 14px;
  	line-height: 1.6;
  	font-size: 14px;
  	color: #999999;
}